@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input {
  border: 1.4px solid;
  border-radius: 5px;
  padding: 18px 21px 18px 16px;
}

.input:focus {
  border-color: #9747ff;
}
.button-white {
  padding: 8px 47px 8px 47px;
  border-radius: 5px;
  gap: 10px;
  background-color: #ffff;
  cursor: pointer;
  font-size: 1.5rem;
}
.button-white:hover {
  background-color: #2d2d33;
  color: #f6b237;
}
button {
  transition: opacity 0.3s ease; /* Change 'opacity' to the property you want to transition */
}

button:hover {
  opacity: 0.8; /* Change to the desired value on hover */
  cursor: pointer;
}
