/* Animation.css */
.animation-container {
  position: relative;
  margin-top: -32px; /* Adjust the margin-top as needed */
}

.animation-container::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 8px solid #f6b237;
  left: 0;
  top: 0;
  animation: typing 10.5s steps(1, end) infinite;
  background:  linear-gradient(to left, rgba(107, 48, 228, 0.96) 0%, rgba(54, 53, 206, 1) 50%);
}

@keyframes typing {
  8% {
    left: 0; /* Display 'a' */
  }
  16% {
    left: 24.29%; /* Display 'r' */
  }
  24% {
    left: 32.445%; /* Display 't' */
  }
  32% {
    left:  41.9%; /* Display T' */}
   
    40% {
      left: 53.035%; /* Display 'o' */
    }
    48% {
      left: 69.18%; /* Display 'o' */
    }
    54% {
      left: 82.325%; /* Display 'o' */
    }
    62% {
      left: 99%;
    }
 
  }
  
  
 



